h1{
    font-size: 100px;
    text-shadow: 0cqmax;
    text-align: center;
    text-decoration-color: rgb(242, 127, 255);
    background-color: rgb(251, 127, 255);
}
body{
     background-size: contain;
    opacity: -1px;
    background-image: url('https://plus.unsplash.com/premium_photo-1671512499810-ac5b5dd3bc2b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D;');
    color: rgb(4, 0, 255);
    align-items: center;
    
}
header{
    background-color: rgb(246, 255, 80);
   font-size: xx-large;
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-weight: bold;
    word-spacing: 100px;
    font-size: xx-large;
    font-family: 'Comic Sans MS', Times, serif;
    
}